/* Thanks to https://travishorn.com/responsive-grid-in-2-minutes-with-css-grid-layout-4842a41420fe */

html {
  font-size: 22px;
}
body {
  padding: 1rem;
}
.card {
  /* background-color: dodgerblue; */
  color: white;
  padding: 1rem;
}
.cards {
  /* max-width: 1200px; */
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
